.nav-button(@_) {
  .button-box-shadow();
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  font-size: 32px;
  border: 3px solid @primary-medium;
  color: @primary-medium;
  bottom: -25px;
  background-color: @primary-lightest;
  ion-icon {
    margin-top: -15px;
  }
}

.nav-button(left) {
  left: -25px;
  ion-icon {
    margin-right: -15px;
  }
}

.nav-button(right) {
  right: -25px;
  ion-icon {
    margin-left: -15px;
  }
}

.settings-button {
  .nav-button(right);
}

.back-button {
  .nav-button(left);
}