.lift-maxes .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 5px;
}

.lift-maxes .row > * {
  margin-left: 5px;
  margin-right: 5px;
}

.lift-maxes .value {
  font-weight: bold;
  font-size: 28px;
}



.lift-groups {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.lift-groups .group {
  padding-left: 20px;
  display: flex; 
  flex-direction: column;
  background-color: aliceblue;
  margin-bottom: 15px;
}

.lift-groups .header {
  margin-left: -20px;
  margin-top: 5px;
  padding-left: 10px;
}

.lift-groups .week {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.lift-groups .row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.lift-groups .row.lift {
  padding: 10px 0;
  border-bottom: 1px solid #cfcfcf;
}

.lift-groups .row > span {
  padding: 0 10px;
}
.lift-groups .row .weight {
  font-size: 24px;
  color: #000000;
  min-width: 90px;
}
.lift-groups .row .count {
  min-width: 60px;
}
.lift-groups .row .plates {
  font-size: 20px;
  align-self: center;
  color: #777777;
}