.lift-maxes .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 5px;
}

.lift-maxes .row > * {
  margin-left: 5px;
  margin-right: 5px;
}

.lift-maxes .value {
  font-weight: bold;
  font-size: 28px;
}



.lift-groups {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.lift-groups .group {
  padding-left: 20px;
  display: flex; 
  flex-direction: column;
  background-color: aliceblue;
  margin-bottom: 15px;
}

.lift-groups .header {
  margin-left: -20px;
  margin-top: 5px;
}

.lift-groups .week {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
