.lift-maxes .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.lift-maxes .row > * {
  margin-left: 5px;
  margin-right: 5px;
}

.lift-maxes .value {
  font-weight: bold;
  font-size: 28px;
}