html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}
button {
  cursor: pointer;
  background-color: transparent;
}
.application {
  color: #224656;
}
.application .settings-button-wrapper {
  position: absolute;
  top: 0px;
  overflow: hidden;
  right: 0px;
}
.application .settings-button-wrapper .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  font-size: 32px;
  border: 3px solid #5bc0eb;
  color: #5bc0eb;
  margin-top: -25px;
  background-color: #f0f9fd;
}
.application .settings-button-wrapper .nav-button ion-icon {
  margin-bottom: -15px;
}
.application .settings-button-wrapper .nav-button {
  margin-right: -25px;
}
.application .settings-button-wrapper .nav-button ion-icon {
  margin-left: -15px;
}
.application .back-button-wrapper {
  position: absolute;
  top: 0px;
  overflow: hidden;
  left: 0px;
}
.application .back-button-wrapper .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  font-size: 32px;
  border: 3px solid #5bc0eb;
  color: #5bc0eb;
  margin-top: -25px;
  background-color: #f0f9fd;
}
.application .back-button-wrapper .nav-button ion-icon {
  margin-bottom: -15px;
}
.application .back-button-wrapper .nav-button {
  margin-left: -25px;
}
.application .back-button-wrapper .nav-button ion-icon {
  margin-right: -15px;
}
.application .settings-view {
  display: flex;
  flex-direction: column;
}
.application .settings-view .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 7px;
}
.application .settings-view .title-bar {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 5px;
  background-color: #5bc0eb;
  color: #f0f9fd;
  box-shadow: 0 0 15px 0 #cfcece;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.application .settings-view .value {
  font-weight: bold;
  font-size: 28px;
  min-width: 60px;
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
}
.application .settings-view .label {
  min-width: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}
.application .settings-view button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-color: #f0f9fd;
  color: #5bc0eb;
  border: 1px solid #5bc0eb;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-weight: bolder;
  font-size: 18px;
  padding-right: 10px;
  box-shadow: 0 0 5px 0px #cfcece;
}
.application .settings-view button:active {
  box-shadow: none;
}
.application .workout-view {
  display: flex;
  flex-direction: column;
}
.application .workout-view .sub-workout-view {
  display: flex;
  flex-direction: column;
}
.application .workout-view .title-bar {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 5px;
  background-color: #5bc0eb;
  color: #f0f9fd;
  box-shadow: 0 0 15px 0 #cfcece;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.application .workout-view .section {
  display: flex;
  flex-direction: column;
  border: 3px solid #5bc0eb;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  padding-bottom: 6px;
  box-shadow: 0px 4px 8px -2px #cfcece;
}
.application .workout-view .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.application .workout-view .row.button {
  font-size: 24px;
  border: none;
  color: #5bc0eb;
  border-bottom: 2px solid #b4e2f5;
  margin-bottom: 25px;
  padding-left: 15px;
}
.application .workout-view .row.lift {
  font-size: 18px;
  padding: 10px 18px;
  color: #224656;
  border-bottom: 1px solid #b4e2f5;
}
.application .workout-view .row.title {
  font-size: 18px;
  font-weight: bolder;
  color: #f0f9fd;
  background-color: #5bc0eb;
  padding: 5px 8px;
}
.application .workout-view .row .weight {
  min-width: 35px;
}
.application .workout-view .row .label {
  font-size: 14px;
  margin-bottom: -2px;
  margin-left: 5px;
  margin-right: 20px;
}
.application .workout-view .row .count {
  flex-grow: 1;
  font-size: 16px;
}
.application .workout-view .row .plates {
  align-self: flex-end;
  margin-left: 20px;
  color: #679cb3;
}
